// customize bootstrap variables here:
@import 'variables';
@import 'bower_components/bootstrap-sass/vendor/assets/stylesheets/bootstrap/bootstrap';
@import 'font-awesome';

body {
  -webkit-font-smoothing: antialiased;
}

img {
  width:100%;
}

a:hover {text-decoration: none;}

section {
  margin-bottom:80px;
}

.logo {
  max-width:400px;
  width:70%;
  padding:10px 5px 5px 0px;
}
.navbar-default {border:none; text-transform:uppercase;}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  border-bottom:4px solid $brand-primary;
}


.contact-bar {background: #F2F2F2; }
.contact-bar-content a, .contact-bar-content a:hover {color:$text-color; padding-left:5px; text-decoration:none; }

.product-images img {
	width: 24%;
}

.tagline {
	background: $brand-third;
	color:#fff;
	font-size: 24px;
	padding: 20px;
}

footer {
  text-align:center;
  border-top: 1px solid $gray-lighter;
  padding: 40px 0;
}
.nav-footer li {
	display: inline;
	padding: 0px 15px;
	border-left: 1px solid $gray-light;
}
.nav-footer li:nth-child(1) {
	border:none;
}

