---
layout: default
title: Buckeye Molded Products
---

<div class="contact-bar">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h4 class="contact-bar-content pull-right">
          <a href="tel:4403232244"><i class="fa fa-phone"></i> 440-323-2244</a>
            |
          <a href="mailto:info@buckeyemoldedproducts.com"><i class="fa fa-envelope"></i></a>
        </h4>
      </div>
    </div>
  </div>
</div>

<header>
  {% include nav.html %}
</header>


<section class="product-images">
  <div class="container">
    <div class="row">
      <div class="">
        <img src="http://img.directindustry.com/images_di/photo-g/asynchronous-electric-motors-113155-4053492.jpg">
        <img src="http://img.directindustry.com/images_di/photo-g/asynchronous-electric-motors-113155-4053482.jpg">
        <img src="http://img.directindustry.com/images_di/photo-g/asynchronous-electric-motors-113155-4053484.jpg">
        <img src="http://img.directindustry.com/images_di/photo-g/asynchronous-electric-motors-113155-4053486.jpg">

        <img src="http://img.directindustry.com/images_di/photo-m/single-phase-asynchronous-electric-motors-113155-4054130.jpg">
        <img src="http://img.directindustry.com/images_di/photo-m/single-phase-asynchronous-electric-motors-run-starting-capacitor-113155-4051442.jpg">
        <img src="http://img.directindustry.com/images_di/photo-m/single-phase-asynchronous-electric-motors-run-starting-capacitor-113155-4053876.jpg">
        <img src="http://img.directindustry.com/images_di/photo-m/three-phase-asynchronous-electric-motors-hydraulic-applications-113155-4052452.jpg">
      </div>
    </div>
  </div>
</section>

<section class="main-carousel">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="item">
              <img alt="First slide" src="http://placehold.it/1250x450">
                <div class="carousel-caption">
                  <h3>Only The Best</h3>
                  <img alt="First slide" src="http://img.directindustry.com/images_di/kwref/kwref-g/6/5/62956.jpg">
                </div>
            </div>
            <div class="item">
              <img alt="Second slide" src="http://3.s3.envato.com/files/22759005/IMG_9260a.jpg">
            </div>
            <div class="item active">
              <img alt="Third slide" src="http://placehold.it/1250x450">
            </div>
          </div>
          <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <i class="fa fa-angle-left"></i>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <i class="fa fa-angle-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="tagline">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <p>We provide best in class and only the highest quality electrical motor brushes and commutator contacts.</p>
      </div>
    </div>
  </div>
</section>

<section class="product-highlight">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3>Carbon</h3>
        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</p>
        <img src="http://ohiocarbon.com/img/industrial.jpg">
      </div>
      <div class="col-sm-4">
        <h3>Metal</h3>
        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</p>
        <img src="http://ohiocarbon.com/img/industrial.jpg">
      </div>
      <div class="col-sm-4">
        <h3>Specialty</h3>
        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</p>
        <img src="http://ohiocarbon.com/img/industrial.jpg">
      </div>
    </div>
  </div>
</section>

<section class="about">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h2>History</h2>
        <p>Buckeye Molded Products Inc. was formed with the goal of utilizing over 150 years combined experience in the manufacturing of the highest quality electrical motor brushes. Our team of engineers and scientists work closely with our customers to develop the best solutions for their individual motor application and contact needs. We specialize in carbon, copper-graphite, silver-graphite, and custom made brushes and contacts. These all are manufactured in the most cost-effective manner to surpass customer requirements for performance and longevity.</p>
      </div>
      <div class="col-sm-4 col-sm-offset-1">
        <blockquote>Buckeye Molded Products is in conformance with <strong>ISO 9001:2000</strong> Standard and has successfully implemented and Management System which has been registered by Alliance International Registrar, LLC.
          <br><a href="/images/certificate.jpg"><i class="fa fa-file-text-o"></i> View Certificate of Registration</a>
        </blockquote>
      </div>
    </div>
  </div>
</section>

{% include footer.html %}
