<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <p>&copy; 2014 Ohio Carbon Industries</p>
        <p>Website Development by <a href="http://805creative.com/">805 Creative</a></p>
		<p><a href="tel:4403232244"><i class="fa fa-phone"></i> 440-323-2244</a></p>
        <p><a href="mailto:info@buckeyemoldedproducts.com"><i class="fa fa-envelope"></i> info@buckeyemoldedproducts.com</a></p>
		<ul class="nav-footer">
			<li class="active"><a href="#">Home</a></li>
			<li><a href="#">Brushes</a></li>
			<li><a href="#">Contacts</a></li>
			<li><a href="#">Applications</a></li>
			<li><a href="#">Contact</a></li>
		</ul>        
      </div>
    </div>
  </div>
</footer>
