<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.url }}/stylesheets/app.css" />
    <link rel="stylesheet" href="{{ site.url }}/stylesheets/foundation-icons.css" />
    <script src="{{ site.url }}/bower_components/modernizr/modernizr.js"></script>

    <!--Filament.io-->
    <script type="text/javascript">(function() {
  var fl = document.createElement('script'); fl.type = 'text/javascript'; fl.async = true; fl.src = document.location.protocol + '//filamentapp.s3.amazonaws.com/7f1be841f87c669c14d3421c8a7d4507.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(fl, s);
})();</script>

<script>
  window.intercomSettings = {
    // TODO: The current logged in user's full name
    name: "John Doe",
    // TODO: The current logged in user's email address.
    email: "john.doe@example.com",
    // TODO: The current logged in user's sign-up date as a Unix timestamp.
    created_at: 1234567890,
    app_id: "fyyffw0m"
  };
</script>
<!--Intercom.io-->
<script>
  (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/fyyffw0m';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()
</script>

  <body>

    <div class="site">

      <div class="row">
        <div class="large-12 columns">
          {{ content }}
        </div>
      </div>

    </div><!--- /site -->

    <script src="{{ site.url }}/bower_components/jquery/jquery.js"></script>
    <script src="{{ site.url }}/bower_components/foundation/js/foundation.min.js"></script>
    <script src="{{ site.url }}/js/app.js"></script>
    <script>
      $(document).foundation();

      var doc = document.documentElement;
      doc.setAttribute('data-useragent', navigator.userAgent);
    </script>

  </body>
</html>
