<!doctype html>
<html class="" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/styles.css" />

    <!-- IE6-10 -->
    <link rel="shortcut icon" href="/images/favicon.ico">
    <!-- Everybody else -->
    <link rel="icon" href="/images/favicon.ico">

  </head>
  <body>

<div id="site">



        {{ content }}



</div><!--/site-->

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/custom.js"></script>

  </body>
</html>
